.headerIMG {
    margin-left: 43%;
    margin-bottom: 3em;
    height: 10em !important;
    width: 12em !important;
}
.headerIMG2 {
    margin-left: 45%;
    margin-bottom: 3em;
}
.imgRight {
    padding-left: 40%;
}
.imgRight2 {
    padding-left: 10em;
}
.quote {
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 6%;
    padding-right: 4%;

}
.headerTittle {
    margin-bottom: 1em !important;
    margin-top: 1em !important;
    color: #ff0000 !important;
    font-size: 3.5em !important;
}
.headerTittle2 {
    margin-top: 0.5em !important;
    color: #ff0000 !important;
}
.boxStu {
    margin-bottom: 3em !important;
}
.boxStuExtra {
    margin-bottom: 3em !important;
    width: 90% !important;
}

.imgFoto {
    height: 7em !important;
    width: 7em !important;
}
.infoStuv {
    padding-top: 1em !important;
}