.headerTittle {
    margin-bottom: 1em !important;
    margin-top: 1em !important;
    color: #ff0000 !important;
    font-size: 3.5em !important;
}
.contentInfo {
    margin-bottom: 3em;
}
.style {
    font-size: 1.2em;
}